@tailwind base;
@tailwind components;
@tailwind utilities;

.my-toast-container {
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 40px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.loading-placeholder {
  width: 200px;
  height: 110px;
  background: #e0e0e01e;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.loading-placeholder::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(222, 0, 0, 0) 50%,
    rgba(200, 200, 200, 0.3) 50%,
    rgba(255, 255, 255, 0) 60%
  );

  animation: loading 0.5s infinite ease-in-out;
}

.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  border: 3px solid  rgb(104, 11, 104);
  border-radius: 5px;
}

.submit-otp {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-otp:hover {
  background-color: #0056b3;
}


@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  animation-play-state: running;
}
.wrapper-div:hover {
  animation-play-state: paused;
}
.wrapper-div {
  display: flex;
  animation: scroll 25s linear infinite;
  animation-play-state: running;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
