@tailwind base;
@tailwind components;
@tailwind utilities;

/* .my-toast-container {
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 40px;
} */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.loading-placeholder {
  width: 200px;
  height: 110px;
  background: #e0e0e01e;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.loading-placeholder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(222, 0, 0, 0) 50%,
    rgba(200, 200, 200, 0.3) 50%,
    rgba(255, 255, 255, 0) 60%
  );

  animation: loading 0.5s infinite ease-in-out;
}
@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  border: 3px solid rgb(104, 11, 104);
  border-radius: 5px;
}

.submit-otp {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-otp:hover {
  background-color: #0056b3;
}

.scroll-container {
  width: 100%;
  overflow: hidden;

  /* animation-play-state: running; */
}
.wrapper-div:hover {
  animation-play-state: paused;
}
.wrapper-div {
  display: flex;
  animation: scroll 20s linear infinite;

  /* animation-play-state:running; */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 150px;
  position: relative;
  border-radius: 8px;
}

.item-image {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.group:hover .overlay {
  opacity: 1;
}

.play-button {
  background: rgba(255, 0, 0, 0.8);
  padding: 7px 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.play-button:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .play-button {
    background: rgba(255, 0, 0, 0.8);
    padding: 7px 20px;
    font-size: 20px;
  }
}
